$blue-color: #0075ff;
$blue-alt-color: #0d69d5;
$orange-color: #f59b0e;
$green-color: #22c55e;
$red-color: #f44336;
$gray-color: #888;
$black-color: black;
$white-color: white;
$eee-color: #eee;

$padding: 120px;
$main-transition: 0.3s;
